{
	"swagger": "2.0",
	"info": {
		"version": "1.0.0",
		"title": "crudApp Store",
		"description": "An API that uses a store of generic items",
		"termsOfService": "http://swagger.io/terms/",
		"contact": {
			"name": "Kevin Boutin",
			"email": "me@kevinboutin.me"
		},
		"license": {
			"name": "MIT"
		}
	},
	"host": "crudapp.weprovideit.com",
	"basePath": "/api",
	"schemes": [
		"http"
	],
	"consumes": [
		"application/json",
		"application/x-www-form-urlencoded"
	],
	"produces": [
		"application/json"
	],
	"paths": {
		"/items": {
			"get": {
				"description": "Returns all items from the system that the user has access to",
				"operationId": "findItems",
				"produces": [
					"application/json"
				],
				"parameters": [
				],
				"responses": {
					"200": {
						"description": "items response",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/Item"
							}
						}
					},
					"default": {
						"description": "unexpected error",
						"schema": {
							"$ref": "#/definitions/ErrorModel"
						}
					}
				}
			},
			"post": {
				"description": "Creates a new item in the store.  Duplicates are allowed",
				"operationId": "addItem",
				"produces": [
					"application/json"
				],
				"parameters": [
					{
						"name": "item",
						"in": "body",
						"description": "Item to add to the store",
						"required": true,
						"schema": {
							"$ref": "#/definitions/ItemInput"
						}
					}
				],
				"responses": {
					"201": {
						"description": "item created",
						"schema": {
							"$ref": "#/definitions/Item"
						}
					},
					"default": {
						"description": "unexpected error",
						"schema": {
							"$ref": "#/definitions/ErrorModel"
						}
					}
				}
			}
		},
		"/items/{id}": {
			"get": {
				"description": "Returns a specific item",
				"operationId": "findItemById",
				"produces": [
					"application/json"
				],
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "ID of pet to fetch",
						"required": true,
						"type": "integer",
						"format": "int64"
					}
				],
				"responses": {
					"200": {
						"description": "item response",
						"schema": {
							"$ref": "#/definitions/Item"
						}
					},
					"default": {
						"description": "unexpected error",
						"schema": {
							"$ref": "#/definitions/ErrorModel"
						}
					}
				}
			},
			"delete": {
				"description": "deletes a single item based on the ID supplied",
				"operationId": "deleteItem",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "ID of item to delete",
						"required": true,
						"type": "integer",
						"format": "int64"
					}
				],
				"responses": {
					"200": {
						"description": "item deleted"
					},
					"default": {
						"description": "unexpected error",
						"schema": {
							"$ref": "#/definitions/ErrorModel"
						}
					}
				}
			}
		}
	},
	"definitions": {
		"Item": {
			"type": "object",
			"required": [
				"id",
				"name",
				"vendor",
				"site"
			],
			"properties": {
				"id": {
					"type": "integer",
					"format": "int64"
				},
				"name": {
					"type": "string"
				},
				"description": {
					"type": "string"
				},
				"price": {
					"type": "number",
					"format": "float"
				},
				"size": {
					"type": "string"
				},
				"type": {
					"type": "string"
				},
				"vendor": {
					"type": "string"
				},
				"site": {
					"type": "string"
				},
				"gender": {
					"type": "string"
				},
				"tags": {
					"type": "string"
				}
			}
		},
		"ItemInput": {
			"type": "object",
			"allOf": [
				{
					"$ref": "#/definitions/Item"
				},
				{
					"required": [
						"name",
						"vendor",
						"site"
					],
					"properties": {
						"id": {
							"type": "integer",
							"format": "int64"
						}
					}
				}
			]
		},
		"ErrorModel": {
			"type": "object",
			"required": [
				"code",
				"message"
			],
			"properties": {
				"code": {
					"type": "integer",
					"format": "int32"
				},
				"message": {
					"type": "string"
				}
			}
		}
	}
}