<table class="table itemtable">
	<tbody>
		<tr>
			<td colspan="2"><h3>Details for {{item.title}}</h3></td>
		</tr>
		<tr>
			<td>Title</td>
			<td>{{item.title}}</td>
		</tr>
		<tr>
			<td>Description</td>
			<td>{{item.description}}</td>
		</tr>
		<tr>
			<td>Price</td>
			<td>{{item.price}}</td>
		</tr>
		<tr>
			<td>Type</td>
			<td>{{item.type}}</td>
		</tr>
		<tr>
			<td>Size</td>
			<td>{{item.size}}</td>
		</tr>
		<tr>
			<td>Vendor</td>
			<td>{{item.vendor}}</td>
		</tr>
		<tr>
			<td>URL</td>
			<td>{{item.site}}</td>
		</tr>
		<tr>
			<td>Gender</td>
			<td>{{item.gender}}</td>
		</tr>
		<tr>
			<td>Tags</td>
			<td>{{item.tags}}</td>
		</tr>
	</tbody>
</table>
<div class="text-right">
	<a class="btn btn-default" ui-sref="items" title="Cancel"
		 aria-label="Cancel">Cancel</a>
	<a class="btn btn-primary" ui-sref="editItem({id:item.id})" title="Edit"
		 aria-label="Edit">Edit</a>
</div>