<table class="table itemtable">
	<tbody>
		<tr>
			<td><h3>Details for {{item.title}}</h3></td>
			<td></td>
		</tr>
		<tr>
			<td>Title</td>
			<td>{{item.title}}</td>
		</tr>
		<tr>
			<td>Description</td>
			<td>{{item.description}}</td>
		</tr>
		<tr>
			<td>Price</td>
			<td>{{item.price}}</td>
		</tr>
		<tr>
			<td>Type</td>
			<td>{{item.type}}</td>
		</tr>
		<tr>
			<td>Vendor</td>
			<td>{{item.vendor}}</td>
		</tr>
		<tr>
			<td>URL</td>
			<td>{{item.site}}</td>
		</tr>
		<tr>
			<td>Target Gender</td>
			<td>{{item.gender}}</td>
		</tr>
		<tr>
			<td>Tags</td>
			<td>{{item.tags}}</td>
		</tr>
	</tbody>
</table>
<div>
	<a class="btn btn-primary" ui-sref="editItem({id:item._id})" title="Edit">Edit</a>
</div>