<div class="secondary text-right">
	<a ui-sref="newItem" class="btn-primary btn nodecoration" title="Add New Item">Add New Item</a>
</div>
<table class="table itemtable">
	<tbody>
		<tr>
			<td colspan="2"><h3>All Items</h3></td>
		</tr>
		<tr ng-repeat="item in items">
			<td nowrap>
				<a class="btn btn-default" ui-sref="viewItem({ id:item.id })" title="View"
					 aria-label="View">View</a>
				<a class="btn btn-danger" ng-click="deleteItem(item)" title="Delete"
					 aria-label="Delete">Delete</a>
			</td>
			<td>{{item.title}}</td>
		</tr>
	</tbody>
</table>