body {
	padding: 10px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container {
	padding-left: 10px;
	padding-right: 10px;
}

a {
	color: #00b7ff;
}

.top-buffer {
	margin-top: 10px;
}

.itemtable tr td:nth-child(1) {
	text-align: right;
	font-weight: bold;
}

.itemtable tr td h3 {
	text-align: left;
}

.itemtable tr:nth-child(1) td {
	border-top: none;
}

.itemtable tr:last-child td {
	border-bottom: 1px solid #ddd;
}

.btn {
	margin-left: 6px;
}

a.nodecoration {
	text-decoration: none;
}
